dialog {
  position: absolute;
  top: 0;

  margin: auto;
  max-width: 90%;

  transform: scale(0.9) translateY(-4%);

  background-color: var(--bg-tert);
  border: none;
  border-radius: 0.75rem;

  padding: 2.5rem 1.25rem;

  & button#closeModal {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover {
      & svg path {
        fill: var(--bg-high);
      }
    }
  }

  & header {
    display: grid;
    gap: 0.25rem;
    margin-bottom: 1.75rem;

    & h1 {
      font: 700 1.5rem/2rem "Inter Tight", sans-serif;
      color: var(--content-primary);
    }

    & p {
      font: var(--p-md);
      color: var(--content-secondary);
    }
  }

  & form {
    & fieldset {
      border: none;

      & .input-wrapper {
        display: grid;
        gap: 0.5rem;
        margin-bottom: 1rem;

        & label {
          font: var(--label-md);
          color: var(--content-primary);
        }

        & input {
          background: transparent;
          border: 1px solid var(--border-prim);
          border-radius: 0.5rem;

          padding: 0.75rem 2.5rem;
          height: 3rem;

          font: 400 1rem/1.5 var(--inter);
          color: var(--content-primary);

          &:hover {
            border: 1px solid var(--border-secon);
          }

          &:active {
            outline: none;
            border: 2px solid var(--content-brand);
          }

          &:focus {
            outline: none;
            border: 2px solid var(--content-brand);
          }

          &::placeholder {
            font: 400 1rem/1.5rem var(--inter);
            color: var(--content-secondary);
          }
        }

        & input#name {
          background: url(../assets/user.svg) no-repeat;
          background-position: .75rem;
          background-size: 20px;
        }

        & input#petName {
          background: url(../assets/paw.svg) no-repeat;
          background-position: .75rem;
          background-size: 20px;
        }

        & input#tel {
          background: url(../assets/phone.svg) no-repeat;
          background-position: .75rem;
          background-size: 20px;
        }
      }

      & .text-wrapper {
        display: grid;
        gap: 0.5rem;
        margin-bottom: 1rem;

        & label {
          font: var(--label-md);
          color: var(--content-primary);
        }

        & textarea {
          background-color: transparent;
          border: 1px solid var(--border-prim);
          border-radius: 0.5rem;

          padding: 0.75rem;
          height: 5rem;

          font: 400 1rem/1.5 var(--inter);
          color: var(--content-primary);

          &:hover {
            border: 1px solid var(--border-secon);
          }

          &:active {
            outline: none;
            border: 2px solid var(--content-brand);
          }

          &:focus {
            outline: none;
            border: 2px solid var(--content-brand);
          }

          &::placeholder {
            font: 400 1rem/1.5rem var(--inter);
            color: var(--content-secondary);
          }
        }
      }

      & .data-wrapper {
        display: grid;
        gap: 0.5rem;
        margin-bottom: 1rem;
        position: relative;

        & label {
          font: var(--label-md);
          color: var(--content-primary);
        }

        & input[type="date"] {
          background: url(../assets/calendar.svg) no-repeat transparent;
          background-position: .75rem;
          border: 1px solid var(--border-prim);
          border-radius: 0.5rem;

          padding: 0.75rem 2.5rem;
          height: 3rem;

          font: 400 1rem/1.5 var(--inter);
          color: var(--content-primary);

          &:hover {
            border: 1px solid var(--border-secon);
          }

          &:active {
            outline: none;
            border: 2px solid var(--content-brand);
          }

          &:focus {
            outline: none;
            border: 2px solid var(--content-brand);
          }

          &::placeholder {
            font: 400 1rem/1.5rem var(--inter);
            color: var(--content-secondary);
          }
          
          &::-webkit-calendar-picker-indicator {
            background: url(../assets/arrowBottom.svg);
            position: absolute;
            right: .75rem;
          }
        }
      }

      & .select-wrapper {
        position: relative;
        display: grid;
        gap: 0.5rem;
        margin-bottom: 1rem;

        & label {
          font: var(--label-md);
          color: var(--content-primary);
        }

        & select {
          background: url(../assets/clock.svg) no-repeat transparent;
          background-position: 0.75rem;

          border: 1.5px solid var(--border-prim);
          border-radius: 0.5rem;

          padding: 0.55rem 2.5rem;
          height: 3rem;

          appearance: none;

          font: 400 1rem/1.5 var(--inter);
          color: var(--content-primary);
          cursor: pointer;

          &:hover {
            border: 1.5px solid var(--border-secon);
          }

          &:active {
            outline: none;
            border: 2px solid var(--content-brand);
          }

          &:focus {
            outline: none;
            border: 2px solid var(--content-brand);
          }

          & option {
            background-color: var(--bg-tert);
            color: var(--content-primary);
            font: 400 1rem/1.5 var(--inter);

            &:hover {
              background-color: none;
            }
          }
        }

        & .dropdown {
          background: url(../assets/arrowBottom.svg);
          position: absolute;
          width: 20px;
          height: 20px;
          top: 57%;
          right: 0.75rem;
  
          z-index: 2;
        }
      }

    }
  }

  & .button-wrapper {
    display: flex;
    justify-content: flex-end;

    & button {
      margin-top: 0.75rem;
      padding: 0.75rem 1.5rem;
      max-width: 8rem;

      background-color: var(--content-brand);
      border-radius: 0.5rem;
      border: none;

      font: var(--label-lg);
      color: #050505;
      text-transform: uppercase;

      cursor: pointer;

      &:hover {
        background-color: var(--bg-high);
      }
    }
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
  }

  &::-webkit-scrollbar {
    background-color: var(--content-tertiary);
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-secon);
    border-radius: 5px;
  }
}
